<div class="container pt-5">
    <div class="row">
        <h5 class="fw-bold pt-2 pb-2">Recommended posts</h5>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm" style="min-height: 400px !important;  ">
                <img src="https://www.holidify.com/images/bgImages/PARIS.jpg" style="object-fit: cover;"
                    class="bd-placeholder-img card-img-top" width="100%" height="225" role="img"
                    aria-label="Placeholder: Thumbnail" />
                <div class="card-body">
                    <p class="card-title fw-bold fs-5"> 1. Paris, France - The City of Lights </p>
                    <p class="card-text">Bonjour Mon Ami! Paris needs no formal introduction - synonymous with culture, architecture, food and fashion</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" style="color:#fff; background-color: #198754;">Book</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm" style="min-height: 400px !important;  ">
                <img src="https://www.holidify.com/images/cmsuploads/compressed/Machu_Picchu_early_morning_20181214131409.JPG" style="object-fit: cover;"
                    class="bd-placeholder-img card-img-top" width="100%" height="225" role="img"
                    aria-label="Placeholder: Thumbnail" />

                    <div class="card-body"><p class="card-title fw-bold fs-5"> 2. Machu Picchu, Peru </p>
                    <p class="card-text">One of the most recently discovered ruins, the Incan ruins of Machu Picchu continue to astound historians, archaeologists and historical enthusiasts alike.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm  btn-outline-secondary" style="color:#fff; background-color: #198754;">Book</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm" style="min-height: 400px !important;  ">
                <img src="https://www.holidify.com/images/cmsuploads/compressed/grand_20181214130027.jpg" style="object-fit: cover;"
                    class="bd-placeholder-img card-img-top" width="100%" height="225" role="img"
                    aria-label="Placeholder: Thumbnail" />

                <div class="card-body">
                    <p class="card-title fw-bold fs-5"> 3. The Grand Canyon </p>
                    <p class="card-text">Yellowstone's Grand Canyon is one of the most iconic sites in the region, providing several stunning vistas as you go along. </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm  btn-outline-secondary" style="color:#fff; background-color: #198754;">Book</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm" style="min-height: 400px !important;  ">
                <img src="https://holidify.com/images/bgImages/NEW-ZEALAND.jpg" style="object-fit: cover;"
                    class="bd-placeholder-img card-img-top" width="100%" height="225" role="img"
                    aria-label="Placeholder: Thumbnail" />

                <div class="card-body">
                    <p class="card-title fw-bold fs-5"> 4. New Zealand - The Land Where Adventures Wait
                       
                                              </p>
                    <p class="card-text"> New Zealand lies in the Pacific Ocean, to the southwest</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm  btn-outline-secondary" style="color:#fff; background-color: #198754;">Book</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm" style="min-height: 400px !important;  ">
                <img src="https://www.holidify.com/images/cmsuploads/compressed/15988567539_f8c9a23efe_b_20190111143112.jpg" style="object-fit: cover;"
                    class="bd-placeholder-img card-img-top" width="100%" height="225" role="img"
                    aria-label="Placeholder: Thumbnail" />

                <div class="card-body">
                    <p class="card-title fw-bold fs-5"> 5. Colosseum, Rome </p>
                    <p class="card-text">This was originally called the Flavian Amphitheatre and was mostly used as public entertainment arena.  was mostly used as public entertainment arena.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm  btn-outline-secondary" style="color:#fff; background-color: #198754;">Book</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm" style="min-height: 400px !important;  ">
                <img src="https://www.holidify.com/images/bgImages/BORA-BORA.jpg" style="object-fit: cover;"
                    class="bd-placeholder-img card-img-top" width="100%" height="225" role="img"
                    aria-label="Placeholder: Thumbnail" />

                <div class="card-body">
                    <p class="card-title fw-bold fs-5"> Bora Bora, French-Polynesia </p>
                    <p class="card-text">Welcome to the fantasy of a dreamy island with utmost perfectional beauty"- This is how the pictures of Bora Bora entice you for a vacation.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm  btn-outline-secondary" style="color:#fff; background-color: #198754;">Book</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm" style="min-height: 400px !important;  ">
                <img src="https://www.holidify.com/images/bgImages/LONDON.jpg" style="object-fit: cover;"
                    class="bd-placeholder-img card-img-top" width="100%" height="225" role="img"
                    aria-label="Placeholder: Thumbnail" />

                <div class="card-body">
                    <p class="card-title fw-bold fs-5"> 7. London, England - London: The heritage of England </p>
                    <p class="card-text">Standing on the Thames River, London is the capital of England as well as the most populous city in Great Britain.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm  btn-outline-secondary" style="color:#fff; background-color: #198754;">Book</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm" style="min-height: 400px !important;  ">
                <img src="https://www.holidify.com/images/bgImages/GREAT-BARRIER-REEF.jpg" style="object-fit: cover;"
                    class="bd-placeholder-img card-img-top" width="100%" height="225" role="img"
                    aria-label="Placeholder: Thumbnail" />

                <div class="card-body">
                    <p class="card-title fw-bold fs-5"> 8. Great Barrier Reef, Australia - Nature's Biggest Marvel </p>
                    <p class="card-text">Stretching for 2300 kilometres off the east coast of Australia, the Great Barrier Reef is one of nature's greatest marvels.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm  btn-outline-secondary" style="color:#fff; background-color: #198754;">Book</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm" style="min-height: 400px !important;  ">
                <img src="https://www.holidify.com/images/bgImages/MALDIVES.jpg" style="object-fit: cover;"
                    class="bd-placeholder-img card-img-top" width="100%" height="225" role="img"
                    aria-label="Placeholder: Thumbnail" />

                <div class="card-body">
                    <p class="card-title fw-bold fs-5"> 10. Maldives, Maldives - A Tropical Haven </p>
                    <p class="card-text">The Maldives, a tropical haven of immaculate beaches, are an archipelago of 1,192 coral islands grouped into natural atolls.. </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm  btn-outline-secondary" style="color:#fff; background-color: #198754;">Book</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>