<div class="container pt-5">
  <div class="row">
    <h5 class="">Post detail</h5>
  </div>
  <div class="row">
    <div class="col">
      <div class="card shadow-md" style="min-height: 400px !important;  ">
        <p class="card-title p-5 fw-bold fs-1 text-center">
          1. Paris, France - The City of Lights
        </p>
        <img
          src="https://www.holidify.com/images/bgImages/PARIS.jpg"
          style="object-fit: cover;"
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="600"
          role="img"
          aria-label="Placeholder: Thumbnail"
        />
        <div class="card-body">
        
          <p class="card-text">
            Bonjour Mon Ami! Paris needs no formal introduction - synonymous
            with culture, architecture, food and fashion,
            Bonjour Mon Ami! Paris needs no formal introduction - synonymous
            with culture, architecture, food and fashion,
            Bonjour Mon Ami! Paris needs no formal introduction - synonymous with culture, architecture, food and fashion. That je ne sais quoi of the French capital makes it the dream destination for many. So would you want to leave Paris 'Before Sunset' or would you take our word and spend a 'Midnight in Paris'?! The mesmerizing wrought-iron spire of the Eiffel Tower piercing the skyline, the Arc de Triomphe guarding the most glamorous avenue, the Champs Elysees, the regal Notre Dame cathedral, lamp lit bridges spanning the Seine and art nouveau cafes spilling onto wicker-chair-lined terraces.
            Bonjour Mon Ami! Paris needs no formal introduction - synonymous with culture, architecture, food and fashion. That je ne sais quoi of the French capital makes it the dream destination for many. So would you want to leave Paris 'Before Sunset' or would you take our word and spend a 'Midnight in Paris'?! The mesmerizing wrought-iron spire of the Eiffel Tower piercing the skyline, the Arc de Triomphe guarding the most glamorous avenue, the Champs Elysees, the regal Notre Dame cathedral, lamp lit bridges spanning the Seine and art nouveau cafes spilling onto wicker-chair-lined terraces.,
            Bonjour Mon Ami! Paris needs no formal introduction - synonymous with culture, architecture, food and fashion. That je ne sais quoi of the French capital makes it the dream destination for many. So would you want to leave Paris 'Before Sunset' or would you take our word and spend a 'Midnight in Paris'?! The mesmerizing wrought-iron spire of the Eiffel Tower piercing the skyline, the Arc de Triomphe guarding the most glamorous avenue, the Champs Elysees, the regal Notre Dame cathedral, lamp lit bridges spanning the Seine and art nouveau cafes spilling onto wicker-chair-lined terraces.
            Bonjour Mon Ami! Paris needs no formal introduction - synonymous with culture, architecture, food and fashion. That je ne sais quoi of the French capital makes it the dream destination for many. So would you want to leave Paris 'Before Sunset' or would you take our word and spend a 'Midnight in Paris'?! The mesmerizing wrought-iron spire of the Eiffel Tower piercing the skyline, the Arc de Triomphe guarding the most glamorous avenue, the Champs Elysees, the regal Notre Dame cathedral, lamp lit bridges spanning the Seine and art nouveau cafes spilling onto wicker-chair-lined terraces.

            Bonjour Mon Ami! Paris needs no formal introduction - synonymous with culture, architecture, food and fashion. That je ne sais quoi of the French capital makes it the dream destination for many. So would you want to leave Paris 'Before Sunset' or would you take our word and spend a 'Midnight in Paris'?! The mesmerizing wrought-iron spire of the Eiffel Tower piercing the skyline, the Arc de Triomphe guarding the most glamorous avenue, the Champs Elysees, the regal Notre Dame cathedral, lamp lit bridges spanning the Seine and art nouveau cafes spilling onto wicker-chair-lined terraces.
            Bonjour Mon Ami! Paris needs no formal introduction - synonymous with culture, architecture, food and fashion. That je ne sais quoi of the French capital makes it the dream destination for many. So would you want to leave Paris 'Before Sunset' or would you take our word and spend a 'Midnight in Paris'?! The mesmerizing wrought-iron spire of the Eiffel Tower piercing the skyline, the Arc de Triomphe guarding the most glamorous avenue, the Champs Elysees, the regal Notre Dame cathedral, lamp lit bridges spanning the Seine and art nouveau cafes spilling onto wicker-chair-lined terraces.

          </p>
          <div class="row p-3">
            <div class="fs-4 fw-bold"> Additional details </div>
            <div class="fs-5">Location: Paris</div>
            <div class="fs-5">Weather: 14° C</div>
            <div class="fs-5">Ideal duration: 3-5 days</div>
            <div class="fs-5">Best Time: June - August  Read More</div>
          </div>
          <div class="d-flex p-5 justify-content-end align-items-center">
            <div class="btn-group  pe-3">
              <button type="button" class="btn btn-lg btn-outline-secondary">
                Edit
              </button>
            </div>
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-lg btn-outline-secondary ps-2"
                style="color:#fff; background-color: #198754;"
              >
                Book
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>;
